@charset "utf-8";
*{margin: 0;padding: 0;}
body{ position:absolute;top: 0;right: 0;bottom: 0;left: 0;}
ul,li{list-style:none;}
a{text-decoration:none;border:0;}
a:hover{text-decoration:none;}
img{width:100%;height:100%;}
.clear{clear:both;}


.wrap{widht:100%;max-width:640px;margin:0 auto;}
.mBan2 { overflow: hidden; }
.mBan2 .slideBox{ width:100%; height:auto; position:relative; }
.mBan2 .slideBox .hd{ height: 20px; overflow: hidden; position: absolute; bottom: 70px; z-index: 1; width:90px; left: 50%; padding: 4px 0px 0px 11px; margin-left:-45px;}
.mBan2 .slideBox .hd ul{ zoom: 1; }
.mBan2 .slideBox .hd ul li{ float: left; width: 20px; height: 20px; background: url(../images/dot1.png) no-repeat; cursor: pointer; margin-right: 10px; }
.mBan2 .slideBox .hd ul li.on{ background: url(../images/dot2.png) no-repeat; }
.mBan2 .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.mBan2 .slideBox .bd ul,.slideBox .bd ul li{width:100%!important}
.mBan2 .slideBox .bd img{ width:100%; height:auto; display:block;  }


.mBan2 .slideBox .hd1{width:96%;height:60px;background:#b2b2b2;padding:0 2%;}
.mBan2 .slideBox .hd1 ul{ zoom: 2; }
.mBan2 .slideBox .hd1 ul li{ float: left; width: 20px; height: 20px; background: url(../images/dot1.png) no-repeat; cursor: pointer; margin-right: 10px; }
.address_left{float:left;width:70%}
.address_right{float:left;width:30%;line-height:60px;}
.address_icon img{width:13px;height:19px;}
.address_t{font-size:16px;margin:5px 0;}
.address_b span{margin-right:5px;}
.address_top{line-height:30px;font-size:16px;}
.address_bottom{line-height:20px;font-size:14px;}

.order_infor{width:95%;padding:0 2%;}
.order_infor_tit{line-height:60px;font-size:20px;color:#1b6e4e;}
.order_infor_list{line-height:30px;fon-size:16px;color:#000;border-bottom:1px solid #bbb;}
.intro_list_l{float:left;width:50%;text-indent:10px;}
.intro_list_r{float:left;width:50%;}
.order_infor_list_case{line-height:22px;fon-size:16px;color:#000;border-bottom:1px solid #bbb;text-indent:10px;padding:5px 0;}
.order_intro_lists{border-bottom:1px solid #bbb;padding:5px 0;}
.icons img{width:22px;height:22px;margin-top:5px;}
.icons{margin-right:4px;display:inline-block;}
.intro_list_ls{float:left;width:30%;border-right:1px solid #bbb;margin-right:2%;line-height:20px;}
.intro_list_cs{float:left;width:30%;border-right:1px solid #bbb;margin-right:2%;line-height:20px;}
.intro_list_rs{float:left;width:33%;line-height:20px;}
.order_infor_commercial{line-height:24px;}
.arrows img{width:24px;height:19px;}
.arrows{margin:10px auto 0;text-align:center;}
.order_infor_serve{line-height:30px;font-size:16px;color:#000;border-bottom:1px solid #bbb;padding:5px 0;}
.infor_serve_l{float:left;width:30%;border-right:1px solid #bbb;margin-right:2%;line-height:20px;}
.infor_serve_c{float:left;width:30%;border-right:1px solid #bbb;margin-right:2%;line-height:20px;}
.infor_serve_r{float:left;width:33%;}
.order_infor_serves{line-height:30px;font-size:16px;color:#000;padding:5px 0;}
.call{margin-top:20px;}

.order_infor_cont{border-bottom:1px solid #bbb;padding:3% 0;}
.intro_cont_l{float:left;width:50%;}
.intro_cont_r{float:left;width:40%;margin-left:10%;}
.intro_cont_money{line-height:20px;font-size:16px;margin:5px 0;}
.green{color:#1b6e4e;font-size:20px;}
.intro_cont_detail{padding:3% 5%;border:1px solid #27d390;text-align:center;cursor:pointer;margin-top:10px;}
.intro_cont_detail a{color:#27d390}
.more span{margin-right:5px;}
.more span img{width:24px;height:19px;margin-top:10px;}
.more{text-align:center;margin:0 auto;}
.more a{color:#27d390;line-height:30px;}
.order_skill_list{line-height:30px;border-bottom:1px solid #bbb;margin:5px 0}
.skill_l{float:left;width:50%;}
.skill_r{float:left;width:50%;}
.order_traffic_l{float:left;width:10%;}
.order_traffic_l img{width:30px;height:30px;}
.order_traffic_r{float:left;widht:90%;}